{% load thumbnail %}

<aside class="large-6 columns">
    <div class="tabs widget">
        <ul class="no-bullet tabs-nav">
            <li>
                <h6>POPULAR</h6>
            </li>
            <li>
                <h6>RECENTE</h6>
            </li>
            <li>
                <i class="icon-comments"></i>
            </li>
        </ul>
        <ul class="slides">
            <li>
                <ul class="no-bullet popular">
                    {% for popular in populars %}
                        <li class="row">
                            <a href="#" class="large-7 columns">
                                {% thumbnail popular.photo "65x65" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                            <div class="large-13 columns meta">
                                <h3 class="post-title">
                                    <a href="/notice/{{ popular.pk }}">
                                        {{ popular.title|capfirst|truncatechars:30 }}
                                    </a>
                                </h3>
                                <p class="post-meta">
                                    {{ popular.date }}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <ul class="no-bullet recent">
                    {% for recent in recents %}
                        <li class="row">
                            <a href="#" class="large-7 columns">
                                {% thumbnail recent.photo "65x65" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                            <div class="large-13 columns meta">
                                <h3 class="post-title">
                                    <a href="/notice/{{ recent.pk }}">
                                        {{ recent.title|capfirst|truncatechars:30 }}
                                    </a>
                                </h3>
                                <p class="post-meta">
                                    {{ recent.date }}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <ul class="no-bullet commentaries">

                </ul>
            </li>
        </ul>
    </div>
    <div class="social widget">
        <header class="row text-center">
            <h6 class="large-centered column">SIGA-NOS</h6>
            <ul class="no-bullet">
                <li>
                    <a href="https://www.facebook.com/AgenciaFotec" target="_blank">
                        <i class="icon-facebook2"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/Fotec" target="_blank">
                        <i class="icon-twitter2"></i>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/" target="_blank">
                        <i class="icon-googleplus"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/AgenciaFotec" target="_blank">
                        <i class="icon-youtube"></i>
                    </a>
                </li>
            </ul>
        </header>
    </div>
    <div class="twitter widget">
        <header class="row text-center">
            <h6 class="large-centered column">SIGA <a href="https://twitter.com/Fotec" target="_blank">@FOTEC</a></h6>
            <a class="twitter-timeline" href="https://twitter.com/Fotec" data-widget-id="458061559353184256">Tweets de @Fotec</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </header>
    </div>
    <div class="facebook widget">
        <header class="row text-center">
            <h6 class="large-centered column"><a href="https://www.facebook.com/AgenciaFotec" targe="_blank">FACEBOOK</a></h6>
            <div class="fb-like-box" data-href="https://www.facebook.com/AgenciaFotec" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
        </header>
    </div>
    <div class="tags widget">
        <header class="row text-center">
            <h6 class="large-centered column">TAGS</h6>
        </header>
    </div>
</aside>
