<div id="footer">
    <footer class="row">
        <div class="info large-12 columns">
            <div class="row">
                <div class="large-10 columns">
                    <h6>A agência <strong>fotec</strong></h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in sapien sed turpis laoreet placerat eget eget turpis. Morbi nulla neque, molestie at nibh id, egestas ultrices metus. Pellentesque sit amet fermentum augue.
                    </p>
                </div>
                <div class="large-10 columns">
                    <h6>Contato</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in sapien sed turpis laoreet placerat eget eget turpis. Morbi nulla neque, molestie at nibh id, egestas ultrices metus. Pellentesque sit amet fermentum augue.
                    </p>
                </div>
            </div>
        </div>
        <div class="large-4 large-offset-4 columns">
            <ul class="social row no-bullet">
                <li>
                    <a href="http://twitter.com/fotec" class="icon-twitter"></a>
                </li>
                <li>
                    <a href="http://www.facebook.com/AgenciaFotec" class="icon-facebook"></a>
                </li>
            </ul>
            <div class="logo row">
                <img src="{{ STATIC_URL }}images/logo-branca.png" alt="fotec"/>
            </div>
        </div>
    </div>
</div>