<div id="header" class="row">
    <div class="logo large-5 columns">
        <a href="/home/">
            <img src="{{ STATIC_URL }}images/logo.png" alt="fotec"/>
        </a>
    </div>
    <ul class="nav large-15 columns no-bullet">
        <li {% if "/about" in request.path %} class="active" {% endif %}><a href="/about">SOBRE</a></li>
        <li {% if "/disciplines" in request.path %} class="active" {% endif %}><a href="/disciplines">DISCIPLINAS</a></li>
        <li {% if "/events" in request.path %} class="active" {% endif %}><a href="/events">EVENTOS</a></li>
        <li {% if "/video_libraries" in request.path %} class="active" {% endif %}><a href="/video_libraries">VÍDEOS</a></li>
        <li {% if "/photogalleries" in request.path %} class="active" {% endif %}><a href="/photogalleries">FOTOGALERIAS</a></li>
        <li {% if "/notices" in request.path %} class="active" {% endif %}><a href="/notices">NOTÍCIAS</a></li>
        <li {% if "/home" in request.path %} class="active" {% endif %}><a href="/home">INÍCIO</a></li>
    </ul>
</div>

<div id="header-fixed">
    <div class="row">
        <div class="logo large-4 columns">
            <img src="{{ STATIC_URL }}images/logo.png" alt="fotec"/>
        </div>
        <ul class="nav large-15 columns no-bullet">
            <li {% if "/about" in request.path %} class="active" {% endif %}><a href="/about">SOBRE</a></li>
            <li {% if "/disciplines" in request.path %} class="active" {% endif %}><a href="/disciplines">DISCIPLINAS</a></li>
            <li {% if "/events" in request.path %} class="active" {% endif %}><a href="/events">EVENTOS</a></li>
            <li {% if "/video_libraries" in request.path %} class="active" {% endif %}><a href="/video_libraries">VÍDEOS</a></li>
            <li {% if "/photogalleries" in request.path %} class="active" {% endif %}><a href="/photogalleries">FOTOGALERIAS</a></li>
            <li {% if "/notices" in request.path %} class="active" {% endif %}><a href="/notices">NOTÍCIAS</a></li>
            <li {% if "/home" in request.path %} class="active" {% endif %}><a href="/home">INÍCIO</a></li>
        </ul>
    </div>
</div>
