<div id="header" class="row">
    <div class="logo large-5 columns">
        <a href="/home/">
            <img src="{{ STATIC_URL }}/img/logo.png" alt="fotec"/>
        </a>
    </div>
    <ul class="nav large-15 columns no-bullet">
        <li><a>SOBRE</a></li>
        <li><a>DISCIPLINAS</a></li>
        <li><a>EVENTOS</a></li>
        <li><a>VÍDEOS</a></li>
        <li><a>FOTOGALERIAS</a></li>
        <li><a>NOTÍCIAS</a></li>
        <li class="active"><a>INÍCIO</a></li>
    </ul>
</div>

<div id="header-fixed">
    <div class="row">
        <div class="logo large-4 columns">
            <img src="{{ STATIC_URL }}/img/logo.png" alt="fotec"/>
        </div>
        <ul class="nav large-15 columns no-bullet">
            <li><a>SOBRE</a></li>
            <li><a>DISCIPLINAS</a></li>
            <li><a>EVENTOS</a></li>
            <li><a>VÍDEOS</a></li>
            <li><a>FOTOGALERIAS</a></li>
            <li><a>NOTÍCIAS</a></li>
            <li class="active"><a>INÍCIO</a></li>
        </ul>
    </div>
</div>
