<!doctype html>
<html class="no-js" lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% block title %} {% endblock %}</title>

        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
		<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/app.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}font/opensans.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}font/icomoon.css" />

		<script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>
	</head>
	<body>
		<!-- -  -   -    -     -      -      -       -        -        Header -->
		{% block header %} {% endblock %}

		<!-- -  -   -    -     -      -      -       -        -        Menu -->
		{% block menu %} {% endblock %}

		<!-- -  -   -    -     -      -      -       -        -        Container -->
		{% block container %} {% endblock %}

		<!-- -  -   -    -     -      -      -       -        -        Footer -->
		{% block footer %} {% endblock %}

        <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/flexslider.min.js"></script>
		<script src="{{ STATIC_URL }}js/app.js"></script>

        <!-- Facebook Javascript SDK -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
	</body>
</html>