{% extends "base.html" %}

{% load thumbnail %}

{% block title %}
	{{ title }}
{% endblock %}

{% block header %}
	<div id="header" class="row">
		<div class="logo large-5 columns">
			<img src="{{ STATIC_URL }}/img/logo.png" alt="fotec"/>
		</div>
		<ul class="nav large-15 columns no-bullet">
			<li><a>SOBRE</a></li>
			<li><a>DISCIPLINAS</a></li>
			<li><a>EVENTOS</a></li>
			<li><a>VÍDEOS</a></li>
			<li><a>FOTOGALERIAS</a></li>
			<li><a>NOTÍCIAS</a></li>
			<li class="active"><a>INÍCIO</a></li>
		</ul>
	</div>

    <div id="header-fixed">
        <div class="row">
            <div class="logo large-4 columns">
                <img src="{{ STATIC_URL }}/img/logo.png" alt="fotec"/>
            </div>
            <ul class="nav large-15 columns no-bullet">
                <li><a>SOBRE</a></li>
                <li><a>DISCIPLINAS</a></li>
                <li><a>EVENTOS</a></li>
                <li><a>VÍDEOS</a></li>
                <li><a>FOTOGALERIAS</a></li>
                <li><a>NOTÍCIAS</a></li>
                <li class="active"><a>INÍCIO</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block container %}
	<div id="container" class="row">
        <aside class="large-6 columns">
            <div class="tabs widget">
                <header class="row text-center">
                    <h6 class="large-centered column">Recente</h6>
                </header>
                <ul class="no-bullet">
                    {% for new in news %}
                        <li class="row">
                            <a href="#" class="large-7 columns">
                                {% thumbnail new.photo "100x100" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                            <div class="large-13 columns">
                                <h3 class="post-title">
                                    <a href="#">
                                        {{ new.title|capfirst|truncatechars:30 }}
                                    </a>
                                </h3>
                                <p class="post-meta">
                                    {{ new.date }}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="social widget">
                <header class="row text-center">
                    <h6 class="large-centered column">SIGA-NOS</h6>
                </header>
            </div>
            <div class="twitter widget">
                <header class="row text-center">
                    <h6 class="large-centered column">SIGA @FOTEC</h6>
                </header>
            </div>
            <div class="facebook widget">
                <header class="row text-center">
                    <h6 class="large-centered column">FACEBOOK AGENCIAFOTEC</h6>
                </header>
            </div>
            <div class="tags widget">
                <header class="row text-center">
                    <h6 class="large-centered column">TAGS</h6>
                </header>
            </div>
        </aside>
        <div class="content large-14 columns">
            <section class="banner">
                <div class="flexslider">
            		<ul class="slides">
            			{% for new in news %}
            				{% if new.big %}
            					<li>
            						<a href="#">
                                        {% thumbnail new.photo "1200x675" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
            						</a>
                                    <div class="slide-caption">
                                        <p class="date">{{ new.date }}</p>
            							<h5>
            								<a href="#">{{ new.pretitle|upper}}</a>
            							</h5>
            							<p>{{ new.subtitle }}</p>
                                        <a href="#" class="button">Leia mais</a>
            						</div>
            						<div>
            					</li>
            			  {% endif %}
            			{% endfor %}
            		</ul>
                </div>
            </section>

    		{% if posts %}
    			<section class="posts">
                    {% for post in posts %}
                        <article class="row">
                            <figure>
                                {% thumbnail post.photo "1200x675" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                                <figcaption>
                                    <div class="line"></div>
                                    <h6>{{ post.editorial|upper }}</h6>
                                </figcaption>
                            </figure>
                            <header class="column">
                                <h2>
                                    <a hred="#">{{ post.pretitle|capfirst }}</a>
                                </h2>
                                <div class="meta">
                                </div>
                            </header>
                            <div class="description column">
                                {{ post.body|safe }}
                            </div>
                            <div class="read-more row text-center">
                                <a href="#" class="button">Leia mais</a>
                            </div>
                        </article>
                    {% endfor %}
                </section>
            {% endif %}
        </div>
	</div>
{% endblock %}

{% block footer %}
	<div id="footer">
		<footer class="row">
			<div class="info large-12 columns">
				<div class="row">
					<div class="large-10 columns">
						<h6>A agência <strong>fotec</strong></h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in sapien sed turpis laoreet placerat eget eget turpis. Morbi nulla neque, molestie at nibh id, egestas ultrices metus. Pellentesque sit amet fermentum augue.
						</p>
					</div>
					<div class="large-10 columns">
						<h6>Contato</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in sapien sed turpis laoreet placerat eget eget turpis. Morbi nulla neque, molestie at nibh id, egestas ultrices metus. Pellentesque sit amet fermentum augue.
						</p>
					</div>
				</div>
			</div>
			<div class="large-4 large-offset-4 columns">
				<ul class="social row no-bullet">
					<li>
						<a href="http://twitter.com/fotec" class="icon-twitter"></a>
					</li>
					<li>
						<a href="http://www.facebook.com/AgenciaFotec" class="icon-facebook"></a>
					</li>
				</ul>
				<div class="logo row">
					<img src="{{ STATIC_URL }}/img/logo-branca.png" alt="fotec"/>
				</div>
			</div>
		</div>
	</div>
{% endblock %}